
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/animation";

@import "./base/base";
@import "./base/font";
@import "./layout/header";
@import "./layout/city";
@import "./layout/explorer";
@import "./layout/fonctionement";
@import "./layout/restaurant";
@import "./layout/footer";
@import "./pages/subpages";
@import "./composants/loader";
@import "./composants/mediaqueries"
