@keyframes opacity-1 {
    from {
        transform: translate3d(0,40px,0);
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
  }
@keyframes rotate1 {
    from {
        rotate: -180deg ;
    }
    to {
        rotate: 0 ;
    }
  }

  @keyframes bars {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}

@keyframes disappear {
    to {
        visibility: hidden;
    }
}