/*@keyframes opacity-1 {
    from {
        opacity : 0;
        margin-top: 40px;
    }
    to {
        opacity : 1;
    }
  }*/

  @keyframes opacity-1 {
    from {
        transform: translate3d(0,40px,0);
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
  }

  @keyframes rotate1 {
    from {
        rotate: -180deg ;
    }
    to {
        rotate: 0 ;
    }
  }
