@mixin base-shadow {
    box-shadow: 0px 4px 5px $color-greymiddle;
}
@mixin zoom2 {
  transform: scale(1.02);
  transition: all 100ms;
  opacity: 0.9;
  box-shadow: 0px 4px 5px $color-greydark;  
  cursor: pointer; 
}
@mixin button {
  background: linear-gradient(180deg, rgba(226,111,218,1) 19%, rgba(156,89,220,1) 63%);     
  font-size: 15px ;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  margin-top: 15px; 
  color: $color-white;
  margin-bottom: 20px;
  @include base-shadow;
      &:hover {
      @include zoom2;    
  }
  @media screen and  (min-width: $mobile) {
  font-size: 20px;   
}
}

@mixin heartsolid {
    color: transparent;
    background: linear-gradient(360deg, rgba(226,111,218,1) 0%, rgba(156,89,220,1) 41%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &:hover {
        opacity: 1;
        transform: scale(1.02);
    }    
  }
