@mixin base-shadow {
    box-shadow: 0px 4px 5px $color-greymiddle;
}

@mixin zoom2 {
  transform: scale(1.02);
  transition: all 200ms;
  opacity: 0.9;
  box-shadow: 0px 4px 5px $color-greydark;  
  cursor: pointer; 
}

@mixin button {
  background: linear-gradient(180deg, rgba(226,111,218,1) 19%, rgba(156,89,220,1) 63%);     color: white;
  font-size: 15px ;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  margin-top: 15px; 
  margin-bottom: 20px;
  @include base-shadow;
      &:hover {
      @include zoom2;    
  }
}