/* media */

$tablet : 768px;
$desktop : 992px;

/* color */

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-greylight : rgb(246, 246, 246);
$color-grey : rgb(234, 234, 234);
$color-greymiddle :#d3d3d3;
$color-greydark : grey;
$color-white : white;
$color-black : #332d2c;

/* animation menu */

$num-card-menu: 9;
$anim-dur-menu: 2000ms;
$anim-delay-menu: $anim-dur-menu / $num-card-menu;