/* media */
/* color */
/* animation menu */
/* animation loader */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes opacity-1 {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes rotate1 {
  from {
    transform: rotate(-180deg); }
  to {
    transform: rotate(0); } }
@keyframes bars {
  0% {
    transform: scaleY(0.5); }
  100% {
    transform: scaleY(1); } }
@keyframes disappear {
  to {
    visibility: hidden; } }
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0px;
  font-family: "Roboto", sans-serif; }
  body a {
    text-decoration: none; }

section {
  padding: 0 20px; }

header {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  box-shadow: 0px 5px 5px #cfcece;
  padding: 3px;
  position: relative; }
  header h1 {
    margin: 10px 0;
    font-size: 35px; }
  header a {
    color: #332d2c;
    text-decoration: none; }

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  text-align: center; }
  .city i,
  .city h2 {
    margin: 20px 12px;
    font-size: 20px; }

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px; }
  .explorer h2 {
    margin-top: 0;
    font-size: 25px; }
  .explorer p {
    font-size: 18px; }

button {
  background: linear-gradient(180deg, #e26fda 19%, #9c59dc 63%);
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  margin-top: 15px;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0px 4px 5px #d3d3d3; }
  button:hover {
    transform: scale(1.02);
    transition: all 100ms;
    opacity: 0.9;
    box-shadow: 0px 4px 5px grey;
    cursor: pointer; }
  @media screen and (min-width: 767px) {
    button {
      font-size: 20px; } }

.fonctionnement {
  counter-reset: steps; }
  .fonctionnement h2 {
    margin: 45px 0px 15px 0; }
  .fonctionnement ol {
    display: flex;
    padding: 0 0 45px 0;
    flex-direction: column; }
  .fonctionnement li {
    font-weight: bold;
    background-color: #eaeaea;
    padding: 30px;
    flex-grow: 1;
    margin: 20px 0 0 22px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px #d3d3d3;
    list-style-type: none;
    position: relative; }
    .fonctionnement li:hover {
      transform: scale(1.02);
      transition: all 100ms;
      opacity: 0.9;
      box-shadow: 0px 4px 5px grey;
      cursor: pointer;
      background-color: rgba(147, 86, 220, 0.2); }
      .fonctionnement li:hover i.fa-solid {
        color: #9356DC; }
    .fonctionnement li::before {
      content: "" counter(steps);
      counter-increment: steps;
      color: white;
      background-color: #9356DC;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px; }
    .fonctionnement li i.fa-solid {
      color: grey;
      margin: 0 30px 0 20px;
      font-size: 20px; }

.restaurant {
  padding-bottom: 20px;
  background-color: #f6f6f6; }
  .restaurant h2 {
    padding-top: 45px; }
  .restaurant h3,
  .restaurant p {
    margin-top: 10px;
    padding-left: 15px; }
  .restaurant p {
    margin: -15px 0 15px 0; }
  .restaurant .restaurant_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 40px; }
    .restaurant .restaurant_card a {
      text-decoration: none;
      color: #332d2c; }
    .restaurant .restaurant_card .new {
      background-color: #99E2D0;
      color: #1b6150;
      padding: 8px;
      border-radius: 2px;
      position: absolute;
      right: 20px;
      margin-top: 20px; }
  .restaurant .card {
    background-color: white;
    flex-grow: 1;
    min-width: 40%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 4px 5px #d3d3d3; }
    .restaurant .card:hover {
      transform: scale(1.02);
      transition: all 100ms;
      opacity: 0.9;
      box-shadow: 0px 4px 5px grey;
      cursor: pointer; }
    .restaurant .card img {
      width: 100%;
      min-width: 300px;
      height: 200px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      object-position: center; }
    .restaurant .card i {
      position: absolute;
      margin-top: -12%;
      right: 5%;
      font-size: 25px; }
    .restaurant .card .fa-regular.fa-heart {
      opacity: 1; }
      .restaurant .card .fa-regular.fa-heart:hover {
        opacity: 0; }
    .restaurant .card .fa-solid.fa-heart {
      color: transparent;
      background: linear-gradient(360deg, #e26fda 0%, #9c59dc 41%);
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: opacity 0.5s ease-in-out; }
      .restaurant .card .fa-solid.fa-heart:hover {
        opacity: 1;
        transform: scale(1.02); }
  .restaurant .heartbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }

footer {
  background-color: #332d2c;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 25px; }
  footer h3 {
    font-family: 'Shrikhand', cursive; }
  footer a {
    color: white;
    padding: 4px 0 4px 0; }
  footer .footer_bold {
    font-weight: bold;
    margin-bottom: 10px; }
  footer i {
    width: 24px; }

.header_page {
  box-shadow: none; }
  .header_page nav {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .header_page nav h1 {
      font-size: 35px;
      margin-left: -45px; }
    .header_page nav #logo {
      margin: auto; }
    .header_page nav i {
      margin-left: 20px;
      font-size: 25px; }

.img_page {
  min-width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center; }

.menu_page {
  background-color: #eaeaea;
  border-radius: 50px 50px 0 0;
  margin-top: -90px;
  position: relative; }
  .menu_page h2 {
    font-family: 'Shrikhand', cursive;
    padding: 40px;
    position: relative;
    font-size: 30px; }
  .menu_page .fa-heart {
    position: absolute;
    top: 49px;
    right: 50px;
    font-size: 25px; }
  .menu_page .fa-heart.fa-regular {
    opacity: 1; }
    .menu_page .fa-heart.fa-regular:hover {
      opacity: 0; }
  .menu_page .fa-heart.fa-solid {
    color: transparent;
    background: linear-gradient(360deg, #e26fda 0%, #9c59dc 41%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; }
    .menu_page .fa-heart.fa-solid:hover {
      opacity: 1;
      transform: scale(1.02); }
  .menu_page .button_page {
    margin-top: 45px;
    text-align: center; }
  .menu_page button {
    padding: 15px 50px; }

.menu hr {
  border: 2px solid #99E2D0;
  width: 40px;
  margin: -8px 0 0 0; }
.menu .menu_resume {
  display: flex;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis; }
  .menu .menu_resume:hover .menu__description__check {
    margin-right: 0px; }
  .menu .menu_resume:hover .check_icon {
    animation: rotate1 .5s;
    animation-delay: 100ms; }
.menu .menu_cat {
  max-width: 100%;
  overflow: hidden; }
.menu .menu__description__itm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.menu__description {
  box-shadow: 0px 4px 5px #d3d3d3;
  background-color: white;
  flex-grow: 1;
  min-width: 40%;
  border-radius: 15px;
  transition-duration: 0.3s;
  opacity: 0;
  animation-name: opacity-1;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }
  .menu__description--1 {
    animation-delay: 150ms; }
  .menu__description--2 {
    animation-delay: 250ms; }
  .menu__description--3 {
    animation-delay: 350ms; }
  .menu__description--4 {
    animation-delay: 450ms; }
  .menu__description--5 {
    animation-delay: 550ms; }
  .menu__description--6 {
    animation-delay: 650ms; }
  .menu__description--7 {
    animation-delay: 750ms; }
  .menu__description--8 {
    animation-delay: 850ms; }
  .menu__description--9 {
    animation-delay: 950ms; }
  .menu__description--10 {
    animation-delay: 1050ms; }
  .menu__description h3,
  .menu__description p {
    color: #332d2c;
    margin: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .menu__description .prix {
    font-weight: bold;
    margin-left: auto;
    margin-top: 54px;
    margin-right: 20px;
    color: #332d2c;
    overflow: visible; }
.menu .menu__description__check {
  margin-right: -85px;
  min-width: 80px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s;
  color: white; }
  .menu .menu__description__check i.fa-solid.fa-circle-check {
    margin-bottom: 1px;
    font-size: 30px; }

.container {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: white;
  opacity: 0.95;
  animation: disappear 2400ms ease-in-out;
  animation-fill-mode: forwards; }
  .container .load-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px; }
  .container .load {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    display: flex; }
    .container .load h1 {
      font-family: 'Shrikhand', cursive;
      font-size: 22px;
      text-align: center;
      color: white;
      padding-top: 20px; }
    .container .load__bar {
      background: linear-gradient(4deg, #ff79da 0%, #9356dc 41%);
      height: 100%;
      width: 25px;
      border-radius: 15px;
      animation: bars 1000ms backwards infinite ease-in-out alternate; }
      .container .load__bar--1 {
        animation-delay: 125ms; }
      .container .load__bar--1-shadow {
        animation-delay: 125ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--2 {
        animation-delay: 250ms; }
      .container .load__bar--2-shadow {
        animation-delay: 250ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--3 {
        animation-delay: 375ms; }
      .container .load__bar--3-shadow {
        animation-delay: 375ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--4 {
        animation-delay: 500ms; }
      .container .load__bar--4-shadow {
        animation-delay: 500ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--5 {
        animation-delay: 625ms; }
      .container .load__bar--5-shadow {
        animation-delay: 625ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--6 {
        animation-delay: 750ms; }
      .container .load__bar--6-shadow {
        animation-delay: 750ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--7 {
        animation-delay: 875ms; }
      .container .load__bar--7-shadow {
        animation-delay: 875ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }
      .container .load__bar--8 {
        animation-delay: 1000ms; }
      .container .load__bar--8-shadow {
        animation-delay: 1000ms;
        background: linear-gradient(152deg, #ff79da 0%, #9356dc 41%);
        opacity: 0.5; }

@media screen and (min-width: 767px) and (max-width: 959px) {
  .explorer br {
    display: none; }
  .explorer h2 {
    font-size: 30px; }
  .explorer p {
    font-size: 20px; }

  .fonctionnement h2 {
    font-size: 30px; }
  .fonctionnement li {
    font-size: 20px; }
  .fonctionnement ol {
    flex-direction: row;
    flex-wrap: wrap; }

  .restaurant h2 {
    font-size: 30px; }
  .restaurant .restaurant_card {
    display: flex; } }
@media screen and (min-width: 959px) and (max-width: 1599px) {
  .explorer br {
    display: none; }
  .explorer h2 {
    font-size: 30px; }
  .explorer p {
    font-size: 20px; }

  .fonctionnement h2 {
    font-size: 30px; }
  .fonctionnement li {
    font-size: 20px; }
  .fonctionnement ol {
    flex-direction: row;
    flex-wrap: wrap; }

  .restaurant h2 {
    font-size: 30px; }
  .restaurant .restaurant_card {
    grid-template-columns: repeat(2, 1fr); }

  footer {
    flex-direction: row;
    align-items: center; }
    footer a {
      padding: 0 10px;
      margin: 0 10px; }
    footer .footer_bold {
      margin-bottom: 0; }
      footer .footer_bold i {
        margin-right: -40px; }

  .menu_page h2 {
    font-size: 40px; }
  .menu_page .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%; } }
@media screen and (min-width: 1600px) {
  .explorer br {
    display: none; }
  .explorer h2 {
    font-size: 30px; }
  .explorer p {
    font-size: 20px; }

  .fonctionnement h2 {
    font-size: 30px; }
  .fonctionnement li {
    font-size: 20px; }
  .fonctionnement ol {
    flex-wrap: wrap;
    flex-direction: row; }

  .restaurant h2 {
    font-size: 30px; }
  .restaurant .restaurant_card {
    grid-template-columns: repeat(4, 1fr); }

  footer {
    flex-direction: row;
    align-items: center; }
    footer a {
      padding: 0 10px;
      margin: 0 10px; }
    footer .footer_bold {
      margin-bottom: 0; }
      footer .footer_bold i {
        margin-right: -40px; }

  .menu_page h2 {
    font-size: 30px; }
  .menu_page .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%; } }
