@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    box-shadow: 0px 5px 5px  rgb(207, 206, 206);
    padding: 3px;
    position: relative;
}

header h1 {
    margin : 10px 0;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

/* city */

main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 240, 240) ;
    text-align: center;
}

main .city i, 
main .city h2 {
    margin: 20px 15px;
    font-size:20px;
}

/* explorer */

.explorer {
    text-align: center;
}

.explorer h2 {
    margin-top: 20px;
    font-size: 25px;
}

.explorer p {
    font-size: 18px;
}

.explorer button {
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 63%); 
    color: white;
    font-size: 15px ;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 5px lightgrey;
    transition: all 200ms;
    border: none;
    margin-top: 15px;
}

.explorer button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}