

*,
::before,
::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    a {
        text-decoration: none;
    }
}

section {
    padding: 0 30px;
}
