
.city {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey ;
    text-align: center; 
    i, 
    h2 {
        margin: 20px 15px;
        font-size:20px;
    }
}
