
.fonctionnement {
    counter-reset: steps;
    h2 {
        margin: 45px 0px 15px 0 ;
    }
    ol {
        display: flex;
        padding: 0 0 45px 0;
        flex-direction: column;
        margin-left: -10px;
    }
    li {
        font-weight: bold;
        background-color: $color-grey ;
        padding: 30px;
        flex-grow: 1;
        margin: 20px 0 0 22px;
        border-radius: 20px; 
        @include base-shadow;
        list-style-type: none;
        position: relative;
        &:hover {
            @include zoom2;    
            background-color: rgba(147, 86, 220, 0.2);
            i.fa-solid {
                color: $color-primary;
            }
        } 
        &::before {
            content:"" counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $color-primary;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
        }
    i.fa-solid {
        color: $color-greydark;
        margin: 0 20px 0 10px;
        font-size: 20px;
        }
    }
}

@media screen and  (min-width: $mobile) and (max-width: $tablet) {
    .fonctionnement {   
        h2 {
            font-size: 30px;
        }
        li {
            font-size: 20px;
        }
        ol {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media screen and  (min-width: $tablet) and (max-width: $desktop) {
        .fonctionnement {   
        h2 {
            font-size: 30px;
        }
        li {
            font-size: 20px;
        }
        ol {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media screen and  (min-width: $largedesktop) {

    .fonctionnement {   
        h2 {
            font-size: 30px;
        }
        li {
            font-size: 20px;
        }
        ol {
            flex-wrap: wrap;
            flex-direction: row;
        }
    } 
}
