footer {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 25px;
    h3 {
        font-family: 'Shrikhand', cursive;
    }
    a {
        color: $color-white;
        padding: 4px 0 4px 0;
    }
    .footer_bold {
        font-weight: bold;
        margin-bottom: 10px;
    }
        i {
            width: 24px;
        }
}

@media screen and  (min-width: $tablet) and (max-width: $desktop) {

    footer {
        flex-direction: row;
        align-items: center;
        a {
            padding: 0 10px;
            margin: 0 10px;
        }
        .footer_bold {
            margin-bottom: 0;
            
            i {
                margin-right: -40px;
            }
        }
    }
}

@media screen and  (min-width: $largedesktop) {

    footer {
        flex-direction: row;
        align-items: center;
        a {
            padding: 0 10px;
            margin: 0 10px;
        }
        .footer_bold {
            margin-bottom: 0;
            
            i {
                margin-right: -40px;
            }
        }
    }
}

