footer {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 30px;

    h3 {
        font-family: 'Shrikhand', cursive;
    }
    
    a {
        color: $color-white;
        padding: 4px 0 4px 0;
    }

    .footer_bold {
        font-weight: bold;
        margin-bottom: 10px;
    }
        i {
            width: 24px;
        }
}