header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 5px 5px  rgb(207, 206, 206);
    padding: 3px;
    position: relative;
    h1 {
        margin : 10px 0;
        font-size: 35px;
    }
    a {
        color: $color-black;
        text-decoration: none;
    }
}