.restaurant {
    padding-bottom: 20px;
    background-color: $color-greylight;
    h2 {
        padding-top: 45px;
    }
    h3,
    p {
        margin-top : 10px;
        padding-left: 15px;
    }
    p {
        margin : -15px 0 15px 0;
    }
    
    .restaurant_card {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
        padding-bottom: 40px; 

        a {
            text-decoration: none;
            color: $color-black;        
        }    
        .new {
            background-color: $color-tertiary;
            color: #1b6150;
            padding: 8px;
            border-radius: 2px;
            position: absolute;
            right: 20px;
            margin-top: 20px;
        }
    }
    .card {
        background-color: $color-white;
        flex-grow: 1;
        min-width: 40%;
        border-radius: 15px;
        position: relative;
        @include base-shadow ;
        &:hover {
            @include zoom2;
        }    
        img {
            width: 100%;
            min-width: 300px;
            height: 200px;
            object-fit: cover;   
            border-radius: 15px 15px 0 0;
            object-position:center;
        }        
        i {
            position: absolute;
            margin-top: -12%;
            right: 5%;
            font-size: 25px;             
        }

        .fa-regular.fa-heart {
            opacity: 1;
            &:hover {
                opacity: 0;
            }
        }
        .fa-solid.fa-heart {
            @include heartsolid;
            }    
        }
        .heartbox {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
}


@media screen and  (min-width: $mobile) and (max-width: $tablet) {

    .restaurant {
        h2 {
            font-size: 30px;
        }
        .restaurant_card {
            display: flex;
    }
    }
}  

@media screen and  (min-width: $tablet) and (max-width: $desktop) {
    .restaurant {
        h2 {
            font-size: 30px;
        }
        .restaurant_card {
            grid-template-columns: repeat(2, 1fr);                    
        }
    }
}

@media screen and  (min-width: $largedesktop) {
    .restaurant {
        h2 {
            font-size: 30px;
        }
        .restaurant_card {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}