.restaurant {
    background-color: $color-greylight;

    h3,
    p {
        padding-left: 20px;
    }

    p {
        margin : -15px 0 15px 0;
    }

    .restaurant_card {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
        padding-bottom: 40px;
        position: relative;
               
        a {
            text-decoration: none;
            color: $color-black;        
            i.fa-heart {
            position: absolute;
            margin-top: -50px;
            right: 19px;
            font-size: 25px;
        }
        }
    }

    .card {
        background-color: $color-white;
        flex-grow: 1;
        min-width: 40%;
        border-radius: 15px;
        transition-duration: 0.3s;

        @include base-shadow ;
        &:hover {
            @include zoom2;
        }

        img {
            width: 100%;
            min-width: 300px;
            height: 200px;
            object-fit: cover;   
            border-radius: 15px 15px 0 0;
            object-position:center;
        }
    }
}



