.header_page {
    box-shadow: none;
    nav {
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        h1 {
            font-size: 35px;
            margin-left: -45px;
        }
        #logo {
            margin:auto;
        }
        i {
            margin-left: 20px;
            font-size: 25px;
        }
    }
}
.img_page {
    width : 100%;
    height: 350px;
    object-fit: cover;
    object-position:center;
}

.menu_page {
    background-color: $color-grey;
    border-radius: 50px 50px 0 0;
    margin-top: -90px;
    position: relative;
    h2 {
        font-family: 'Shrikhand', cursive;
        padding: 40px 40px 40px 5px;
        position: relative;
        font-size: 30px;
    }
    .fa-heart {
        position: absolute;
        top: 49px;
        right: 50px;
        font-size: 25px;
    }
    .fa-heart.fa-regular {
        opacity: 1;
        color: $color-black;
        &:hover {
            opacity: 0;
            }
    }
    .fa-heart.fa-solid {
        @include heartsolid;
    }  
   .button_page {
        margin-top: 45px;
        text-align: center;
        
    }
    button {
        padding: 15px 50px;
    }
}        
.menu { 
    hr {
        border: 2px solid $color-tertiary;
        width: 40px;
        margin: -8px 0 0 0;
    }
    .menu_resume {
        display: flex;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            .menu__description__check {
                margin-right: 0px;    
            }
            .check_icon {
                animation: rotate1 .5s;
                animation-delay: 100ms;
            }
        }
    }

    .menu_cat {
        max-width: 100%;
        overflow: hidden;
        padding: 5px 5px 20px 5px;
    }
    .menu__description__itm {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__description {    
        @include base-shadow ;
        background-color: $color-white;
        flex-grow: 1;
        min-width: 40%;
        border-radius: 15px;
        transition-duration: 0.3s;
        opacity : 0;
        animation-name: opacity-1;
        animation-duration: $anim-dur-menu;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        @for $i from 1 through $num-card-menu {
            &--#{$i} {
                animation-delay: $anim-delay-menu + 100ms*$i; 
            }
        }
        h3,
        p {
            color: $color-black;
            margin: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .prix {
            font-weight: bold; 
            margin-left: auto;
            margin-top: 54px;
            margin-right: 20px;
            color: $color-black;
            overflow:visible;
        } 
    }       
    .menu__description__check {
        margin-right: -85px;
        min-width: 80px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        transition: all 0.5s; 
        color: $color-white;     
    i.fa-solid.fa-circle-check {
        margin-bottom: 1px;
        font-size: 30px;
        }
    }

}

@media screen and  (min-width: $tablet) and (max-width: $desktop) {
    .menu_page {
        h2 {
            font-size: 40px;
        }
        .menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5%;

        }
    }
}

@media screen and  (min-width: $largedesktop) {
    .menu_page {
        h2 {
            font-size: 30px;
        }
        .menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5%;

        }
    }
}
